@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: rgba(97, 125, 58, 0.928);
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: .5s ease-in-out;
}

a:hover {
    color: rgba(195, 235, 140, 0.714);
}